.DS_Store
.htaccess
LICENSE.txt
_config.yml
gsconfig.php
index.php
readme.txt
robots.txt
sitemap.xml

admin/
backups/

data/cache/
data/thumbs/
data/users/
data/.htaccess

data/pages/autosave

data/other/*
!data/other/testimonials.json
!data/other/components.xml

data/uploads/.htaccess
data/uploads/index.php


plugins/GSJQueryMigrate.php
plugins/GSJQueryMigrate/
plugins/InnovationPlugin.php
plugins/InnovationPlugin/
plugins/anonymous_data.php
plugins/anonymous_data/

theme/Cardinal/
theme/Innovation/
