.DS_Store
.htaccess
LICENSE.txt
_config.yml
admin/
backups/
data/cache/
data/other/
data/pages/autosave/
data/thumbs/
data/users/
gsconfig.php
index.php
plugins/GSJQueryMigrate.php
plugins/GSJQueryMigrate/
plugins/InnovationPlugin.php
plugins/InnovationPlugin/
readme.txt
robots.txt
sitemap.xml
theme/Cardinal/
theme/Innovation/
