.DS_Store
.htaccess
LICENSE.txt
_config.yml
admin/
backups/
data/cache/
data/other/
data/pages/autosave/
data/thumbs/
data/users/
data/uploads/
gsconfig.php
index.php
plugins/
readme.txt
sitemap.xml
theme/Cardinal/
theme/Innovation/
