
/*
 * Small and Up
 * 	- no media quiery needed.
 */

/* Utility
   ============================= */
.grid-container.fluid.no-padding { 
	padding-left: 0;
	padding-right: 0;
}





/* Header
   ============================= */
.top-contact-bar-outer-container .contact-bar,
.top-contact-bar-outer-container .contact-bar a {
	font-size: 1.5rem;
	color:#95969e;
}
.top-contact-bar-outer-container .contact-bar span {
	font-weight: bold;
}
.top-contact-bar-outer-container {
	border-bottom: 3px solid #EEE;
}
.header-outer-container {
	/* border-bottom: 2px solid #EEE; DISABLED FOR NOW. */ 
}


.header-logo-container {
	text-align: center;
}

/* Header - Small Screen Stuff
   ============================= */
.header-small-contact span {
	padding-right: 0.5em;
}
.header-small-contact a {
	font-size: 2.5rem;
	color:#95969e;
}

/* Header - Medium Screen Stuff
   ============================= */
.header-medium-contact > span {
	padding-right: 1.0em;
}
.header-medium-contact a {
	font-size: 1.75rem;
	color:#95969e;
}




/* Header Navigation
   ============================= */
.header-navigation-container .top-bar {
	background-color: white;
	padding: 0px;
}
.header-navigation-container ul {
	background-color: white;
	width: 100%;
}
.header-navigation-container li a {
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

/* only way i could get the height to play nice with both dropdown and accordion. */
.header-navigation-container ul > li > a {
	height: 6em;
	padding-top: 20.75%;
	line-height: 4.6em;
}
.header-navigation-container ul:not(.dropdown) > li > a {
	height: auto;
	padding: .7rem 1rem;
	line-height: 1em;
}

/* Active and hover states */
.header-navigation-container ul.menu > li > a:hover,
.header-navigation-container ul.menu > li.is-active > a,
.header-navigation-container ul.menu > li.has-submenu.is-active > a {
	border-bottom: 2px solid red;
	color: red;
	background-color: white;
}

/* change color of the down arrow. */
.header-navigation-container ul.menu> li.has-submenu.is-active > a::after {
	border-color: red transparent transparent;
}
.header-navigation-container ul.menu li.has-submenu>a::after {
	border-color: black transparent transparent;
}

/* Stylize Menu Bar */
.header-navigation-container .title-bar {
	padding: 0;
}
.header-navigation-container .title-bar button {
	width:100%;
	text-align: left;
	font-size: 1.5em;
	padding: 0.5em;
}
.header-navigation-container .title-bar button .title-bar-title {
	color: white;
}


/* Unique media query. Medium and down */
@media only screen and (max-width: 63.9375em) {
	
	/* make nav menu bar full width */
	.grid-container.header-main-inner-container {
		padding-left: 0;
		padding-right: 0;
	}

}





/* Header Quote Button
========================= */
.header-quote-btn-container .quote-button {
	background-color: red;
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 0.75rem;
	padding: 0.75rem;
	text-align: center;
	width: 10rem;
	float: right;
}




/* Content
   ============================= */

/* the below two rules keep the footer on the bottom of the page if the content is too short. */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
div.content-wrapper {
	flex: 1;
}

/* Page title */
.content-title-bar-container {
	background-color: #224e16;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a2109), to(#224e16));
    background: -webkit-radial-gradient(circle, #1a2109, #224e16);
    background: -moz-radial-gradient(circle, #1a2109, #224e16);
    background: -ms-radial-gradient(circle, #1a2109, #224e16);
}

.content-title-bar-container .content-title-bar {
	padding: 1rem;
}

.content-title-bar-container .content-title-bar h1{
	font-family: Arial;
	font-size: 2.5rem;
	margin-bottom: .1rem;
}

.content-title-bar-container .content-title-bar div{
	font-family: Arial;
	font-size: .75rem;
}

.content-title-bar-container .content-title-bar .content-title {
	color: white;
}

.breadcrumbs .home{
	color: white;
}

.breadcrumbs .current-page {
	font-weight: bold;
}





/* Shadowed box - mainly used for content-title-bar.
======================================================*/
.shadow-container{
	position: relative;
	width: 100%;
}

.shadow-container .shadow {
	width: 100%;
	position: absolute;
	left: 0;
}

.shadow-container .shadow.top {
	background: url(/theme/elf/images/shadow-top.png) top center no-repeat;
	height: 60%;
	top: 0;
}

.shadow-container .shadow.top-linear {
	background: url(/theme/elf/images/shadow-top-linear.png) top repeat-x;
	height: 60%;
	top: 0;
}

.shadow-container .shadow.bottom {
	background:url(/theme/elf/images/shadow-bottom.png) center bottom repeat-x;
	height:30%;
	bottom: 0;
}





/* Home Sections
   ============================= */
.home-section {
	padding: 2em 0em;
}
.home-section .title {
	text-align: center;
}
.home-section .title h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

/* Fancy Separator
   ============================= */
.separator-with-icon {
	width: 100%;
	position: relative;
	text-align: center;
}
.separator-with-icon .line{
	position: absolute;
	width: 100%;
	top: 50%;

	/* Border color to be overridden with border-color. */
	border:1px solid black;
}
.separator-with-icon .icon{
	font-size: 1em;
	border-radius: 50%;
	padding: .5em;
	position: relative;
	z-index: 1;

	/* background color to be overridden with same color as above border-color. */
	background-color: black;
	/* Color to be overriden. Usually with the same color as the section background. */
	color: white;
}





/* Pre Footer Call to action
   ============================= */
.fast-quote-call-to-action-outer-container {
	text-align: center;

	background-color: #224e16;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a2109), to(#224e16));
    background: -webkit-radial-gradient(circle, #1a2109, #224e16);
    background: -moz-radial-gradient(circle, #1a2109, #224e16);
    background: -ms-radial-gradient(circle, #1a2109, #224e16);
}
.fast-quote-call-to-action-outer-container .call-to-action p {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-style: italic;
	padding: 1em;
	margin: 0;
}
.fast-quote-call-to-action-outer-container .call-to-action p em{
	color: orange;
	font-weight: bold;
	white-space: nowrap;
}
.fast-quote-call-to-action-outer-container .call-to-action p a{
	color: white;
	font-weight: bold;
	white-space: nowrap;
}


/* Main Footer
   ============================= */
.footer-outer-container {
	background-color: #4e525d;
}
.footer-outer-container .footer-inner-container {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	color: white;
}




/*
 * Small only
 */
@media screen and (max-width: 39.9375em) {

	/* Home Sections
   ============================= */
	.home-section .title h2 {
		font-size: 1.5rem;
	}

	/* Pre Footer Call to action
   ============================= */
	.fast-quote-call-to-action-outer-container .call-to-action p {
		font-size: 1.2rem;
	}
}





/*
 * Medium and up
 */
@media screen and (min-width: 40em) {}





/*
 * Medium only
 */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

	/* Pre Footer Call to action
   ============================= */
	.fast-quote-call-to-action-outer-container .call-to-action p {
		font-size: 1.5rem;
	}
}





/*
 * Large and up
 */
@media screen and (min-width: 64em) {

	/* Pre Footer Call to action
   ============================= */
	.fast-quote-call-to-action-outer-container .call-to-action p {
		font-size: 2rem;
	}
}





/*
 * Large only
 */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
