
/*
 * Small and Up
 * 	- no media quiery needed.
 */

 /* SingleBanner
   ============================= */
/* Put Single Banner Content Over Single Banner Image */
.SingleBanner .cell{
	position: relative;
}
.SingleBanner .SingleBannerOverlay{
	position: absolute;
	top: 0px;
	left: 0px;
}


/* Why Choose Us View
   ============================= */
.why-choose-us {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.why-choose-us h2 {
	color: red;
	font-weight: bold;
}
.why-choose-us li {
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #EEE;	
}
.why-choose-us li span.fa {
	color: red;
	vertical-align: middle;
}
.why-choose-us li span.text {
	font-family: arial;
	text-transform: uppercase;
	vertical-align: middle;
	padding-left: 1rem;
}


/* Fancy Separator
   ============================= */
.separator-with-icon {
	width: 100%;
	position: relative;
}
.separator-with-icon .line{
	position: absolute;
	width: 100%;
	border-bottom:1px solid white;
	top:50%;
}
.separator-with-icon .icon{
	font-size: 1.em;
	border-radius: 50%;
	background-color: white;
	color: green;
	padding: .5em;
	position: relative;
	z-index: 1;
}




/* Testimonials
   ============================= */
.testimonials-container {
	background-color: #224e16;
	padding: 2em;
}

.testimonials-container .testimonial-title {
	text-align: center;
	color: white;
}
.testimonials-container .testimonial-title h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
}

.testimonials-container .testimonial {
	padding: 0.5em;
}

.testimonials-container .testimonial .testimonial-head {
	padding: 1em;
	overflow: hidden;
}

.testimonials-container .testimonial .testimonial-head .picture {
	float: left;
	border: 2px solid white;
	border-radius: 50%;
	overflow: hidden;
}
.testimonials-container .testimonial .testimonial-head .picture img {
	width: 4em;
}

.testimonials-container .testimonial .testimonial-head .info {
	padding: .5em 1em;
	float: left;
	color: white;
}
.testimonials-container .testimonial .testimonial-head .info .name {
	color: #9fcb33;
	font-weight: bold;
	font-size: 1.1em;
}
.testimonials-container .testimonial .testimonial-head .info .organisation{
	color: darkseagreen;
	font-size: .9em;
}

.testimonials-container .testimonial .tesimonial-text {
	background-color: #f6f6f6;
	padding: 2em;
	padding-left: 2.5em;
	position: relative;
}

.testimonials-container .testimonial .tesimonial-text p{
	font-family: Arial, sans-serif;
}

.testimonials-container .testimonial .tesimonial-text:before {
	position: absolute;
	top: 0;
	left: .1em;
	content: '“';
	font-size: 4em;
	color: grey;
}





/*
 * Small only
 */
@media screen and (max-width: 39.9375em) {

	/* Why Choose Us View
   ============================= */
   .why-choose-us h2 {
   		font-size: 1rem;
   }
	.why-choose-us li {
		font-size: 0.75rem;
	}
}





/*
 * Medium and up
 */
@media screen and (min-width: 40em) {}





/*
 * Medium only
 */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

	/* Why Choose Us View
   ============================= */
   .why-choose-us h2 {
   		font-size: 1.5rem;
   }
	.why-choose-us li {
		font-size: 1rem;
	}
}





/*
 * Large and up
 */
@media screen and (min-width: 64em) {
	
	/* Why Choose Us View
   ============================= */
   .why-choose-us h2 {
   		font-size: 2rem;
   }
	.why-choose-us li {
		font-size: 1.5rem;
	}
}





/*
 * Large only
 */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}




