
/*
 * Small and Up
 * 	- no media quiery needed.
 */

 /* SingleBanner
   ============================= */
/* Put Single Banner Content Over Single Banner Image */
.SingleBanner .cell{
	position: relative;
}
.SingleBanner .SingleBannerOverlay{
	position: absolute;
	top: 0px;
	left: 0px;
}




/* Home Sections
   ============================= */
.home-section {
	padding: 2em 0em;
}
.home-section .title {
	text-align: center;
}
.home-section .title h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

/* Fancy Separator
   ============================= */
.separator-with-icon {
	width: 100%;
	position: relative;
	text-align: center;
}
.separator-with-icon .line{
	position: absolute;
	width: 100%;
	top: 50%;

	/* Border color to be overridden with border-color. */
	border:1px solid black;
}
.separator-with-icon .icon{
	font-size: 1.em;
	border-radius: 50%;
	padding: .5em;
	position: relative;
	z-index: 1;

	/* background color to be overridden with same color as above border-color. */
	background-color: black;
	/* Color to be overriden. Usually with the same color as the section background. */
	color: white;
}





/* Why Choose Us View
   ============================= */
.why-choose-us-list {
	padding: 1rem 0rem;
}
.why-choose-us-list li {
	font-weight: bold;
	padding: 1rem 0rem;
	border-bottom: 1px solid #EEE;	
}
.why-choose-us-list li span.fa {
	color: red;
	vertical-align: middle;
}
.why-choose-us-list li span.text {
	font-family: arial;
	text-transform: uppercase;
	vertical-align: middle;
}




/* Testimonials
   ============================= */
.testimonials-container {
	background-color: #224e16;
}

.testimonials-container .title {
	color: white;
}

/* Override seperator colors */
.testimonials-container .title .separator-with-icon .line {
	border-color: white;
}
.testimonials-container .title .separator-with-icon .icon {
	background-color: white;
	color: #224e16;
}

.testimonials-container .testimonial {
	padding: 0.5em;
}

.testimonials-container .testimonial .testimonial-head {
	padding: 1em;
	overflow: hidden;
}

.testimonials-container .testimonial .testimonial-head .picture {
	float: left;
	border: 2px solid white;
	border-radius: 50%;
	overflow: hidden;
}
.testimonials-container .testimonial .testimonial-head .picture img {
	width: 4em;
}

.testimonials-container .testimonial .testimonial-head .info {
	padding: .5em 1em;
	float: left;
	color: white;
}
.testimonials-container .testimonial .testimonial-head .info .name {
	color: #9fcb33;
	font-weight: bold;
	font-size: 1.1em;
}
.testimonials-container .testimonial .testimonial-head .info .organisation{
	color: darkseagreen;
	font-size: .9em;
}

.testimonials-container .testimonial .tesimonial-text {
	background-color: #f6f6f6;
	padding: 2em;
	padding-left: 2.5em;
	position: relative;
}

.testimonials-container .testimonial .tesimonial-text p{
	font-family: Arial, sans-serif;
}

.testimonials-container .testimonial .tesimonial-text:before {
	position: absolute;
	top: 0;
	left: .1em;
	content: '“';
	font-size: 4em;
	color: grey;
}





/*
 * Small only
 */
@media screen and (max-width: 39.9375em) {

	/* Why Choose Us View
   ============================= */
	.why-choose-us-list li{
		font-size: .75em;
		padding: .5rem 0rem;
	}
	.why-choose-us-list li .text {
		padding-left: 0.5em;
	}
}





/*
 * Medium and up
 */
@media screen and (min-width: 40em) {

	/* Why Choose Us View
   ============================= */
	.why-choose-us-list li{
		font-size: 1em;
		padding: 1rem 0rem;
	}
	.why-choose-us-list li .text {
		padding-left: 1em;
	}
}





/*
 * Medium only
 */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}





/*
 * Large and up
 */
@media screen and (min-width: 64em) {}





/*
 * Large only
 */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}




