

/* Utility
   ============================= */
.grid-container.fluid.no-padding { 
	padding-left: 0;
	padding-right: 0;
}





/* Header
   ============================= */
.top-contact-bar-outer-container .contact-bar {
	font-size: 1.5rem;
	color:#95969e;
}
.top-contact-bar-outer-container .contact-bar span {
	font-weight: bold;
}
.top-contact-bar-outer-container {
	border-bottom: 3px solid #EEE;
}
/*.header-main-inner-container {
	padding-top: 1rem;
	padding-bottom: 1rem;
}*/
.header-outer-container {
	border-bottom: 2px solid #EEE;
}

/* main header navigation */
.header-navigation-container a {
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}
.header-navigation-container > ul > li > a {
	height: 6em;
	padding-top: 20.75%;
	line-height: 4.6em;

}
.header-navigation-container .dropdown.menu>li.is-dropdown-submenu-parent>a {
	color: black;
}
.header-navigation-container > ul > li > a:hover,
.header-navigation-container > ul.dropdown > li.is-dropdown-submenu-parent.is-active > a {
	border-bottom: 2px solid red;
	color: red;
}
.header-navigation-container ul > li > a:hover {
	color: red;
}
/* change color of the down arrow. */
.header-navigation-container > ul.dropdown > li.is-dropdown-submenu-parent.is-active > a::after {
	border-color: red transparent transparent;
}
.header-navigation-container .dropdown.menu>li.is-dropdown-submenu-parent>a::after {
	border-color: black transparent transparent;
}

/* main header quote button */
.header-quote-btn-container .quote-button {
	background-color: red;
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 0.75rem;
	padding: 0.75rem;
	text-align: center;
	width: 10rem;
	float: right;
}




/* Footer
   ============================= */
.footer-outer-container {
	background-color: #4e525d;
}
.footer-outer-container .footer-inner-container {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	color: white;
}




/* SingleBanner
   ============================= */
/* Put Single Banner Content Over Single Banner Image */
.SingleBanner .cell{
	position: relative;
}
.SingleBanner .SingleBannerOverlay{
	position: absolute;
	top: 0px;
	left: 0px;
}





/* Why Choose Us View
   ============================= */
.why-choose-us {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.why-choose-us h2 {
	color: red;
	font-weight: bold;
}
.why-choose-us li {
	font-size: 1.5rem;
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #EEE;	
}
.why-choose-us li span.fa {
	color: red;
	vertical-align: middle;
}
.why-choose-us li span.text {
	font-family: arial;
	text-transform: uppercase;
	vertical-align: middle;
	padding-left: 1rem;
}

